---
pageable: true
per_page: 10
---

<ul class="post-list">
  <% page_articles.each_with_index do |article, i| %>
    <li class="post-list-item">
    	<div class="post-list-category <%= article.data.category %>"></div>
    	<div class="post-list-category-label"><%= article.data.category %></div>
      <%= link_to article.title, article, {:class=>"post-list-title"} %>

      <aside class="post-list-date"><%= article.date.strftime('%b %e') %></aside>
    </li>
  <% end %>
</ul>

<div class="pagination-wrapper">
	<ul class="pagination">
		<% if prev_page == nil %>
			<li class="pagination-bubble active"></li>
		<% else %>
			<a class="pagination-bubble" href="/"></a>
		<% end %>

		<% for page_index in (2 .. num_pages) %>
			<% if page_index == page_number %>
				<li class="pagination-bubble active"></li>
			<% else %>
				<a class="pagination-bubble" href="<%= "/page/#{page_index}" %>"></a>
			<% end %>
		<% end %>
	</ul>
</div>
